# Vagrant
.vagrant/

# VirtualBox
*.vdi
*.vmdk
*.vbox
*.vbox-prev

# Vagrant Boxes
*.box

# Python
__pycache__/
*.pyc

# Environment files / secrets
.env
*.env

# IDE
.idea/
.vscode/

# Operating System
.DS_Store
Thumbs.db